.principal {
    padding: 0 15%;
    margin-top: 180px;
}

@media screen and (max-width: 850px) {
    .principal {
        padding: 0 5%;
    }
}

.atracao {
    position: relative;
    display: flex;
    gap: 50px;
    margin: 50px 0;
    align-items: center;
}

.atracao--impar {
    flex-direction: row-reverse;
    text-align: right;
}

.atracao__imagem {
    z-index: 2;
    height: 300px;
    width: auto;
    box-shadow: 2px 2px 4px rgba(50, 50, 50, .1);
}

@media screen and (max-width: 850px) {
    .atracao__imagem {
        height: 250px;
    }
}

.atracao__titulo {
    font-family: var(--fonte-titulo);
    font-weight: var(--fonte-titulo-peso);
    margin-bottom: 10px;
}

.oferta {
    text-align: center;
    padding: 25px 0;
}

.oferta__titulo {
    margin-bottom: 20px;
}